.navbar {
  background-color: white;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0 40px;
}

.navbar-content {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 39px;
  width: auto;
}

.introdo-text {
  font-size: 24px;
  font-weight: bold;
  color: #170C34;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  gap: 7px;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  color: #170C34;
  text-decoration: none;
  font-weight: 500;
  font-family: "Archivo", sans-srif;
}

.navbar-links a:hover {
  color: #007bff;
}

.navbar-links li {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.navbar-li a {
  padding-right: 10px;
}

.nav-arrow {
  margin-left: 5px;
  vertical-align: middle;
}

.nav-button {
  padding: 4px 10px;
  border: 1px solid #361863;
  cursor: pointer;
  border-radius: 25px;
  font-family: "Archivo", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.nav-button:focus,
.nav-button:active {
  outline: none;
  border: 1px solid #361863;
  box-shadow: none;
}

.nav-user {
  margin-left: 8px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}