/* General Layout */
h1,h2,h3{
  color: #361863;
}

.tabs-card p{
  color: #36186399 !important;
  font-size: 16px!important;
  font-weight: 400;
  font-family: "Archivo", sans-serif;
}

.tabs-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
}

.tabs-header {
  text-align: center;
}

.tabs-header h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.tabs-navigation {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-left: 160px;
}

/* General tab-button styles */
.tab-button {
  padding: 6px 10px;
  border: 1px solid #361863;
  cursor: pointer;
  border-radius: 25px;
  font-family: "Archivo", sans-serif;
    font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s;
}

/* Blue tab styles */
.tab-button.blue-tab {
  color: #361863;
  background-color: #ffffff;
}

.tab-button.blue-tab.active {
  background-color: #3A86FF;
  border: none;
  color: white;
}

/* Purple tab styles */
.tab-button.purple-tab {
  color: #361863;
  background-color: #ffffff;
}

.tab-button.purple-tab.active {
  background-color: #9b5de5;
  border: none;
  color: white;
}

/* Orange tab styles */
.tab-button.orange-tab {
  color: #361863;
  background-color: #ffffff;
}

.tab-button.orange-tab.active {
  background-color: #FF6F00;
  border: none;
  color: white;
}

/* Content */
.tabs-content {
  display: flex;
  width: 100%;
  max-width: 1100px;
  margin-top: 50px;
  align-items: flex-start;
  margin-bottom: 162px;
}

.tabs-sidebar {
  width: 25%;
}

.tabs-sidebar ul {
  list-style: none;
  padding: 0;
}

.tabs-sidebar ul li {
  margin-bottom: 20px;
  font-size: 1.1rem;
  font-weight: 500;
  color: #4f4f4f;
  display: flex;
  align-items: center;
}

.tabs-main-content {
  width: 57%;
  position: relative;
  margin-left: 53px;
}

.tabs-card {
  background-color: #fff;
  padding: 44px;
  border-radius: 36px;
  position: relative;
  line-height: 23px;
  z-index: 2;
}

.tabs-card h3 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.tabs-card p {
  font-size: 1.2rem;
  color: #555;
}

/* Blue Tab Theme */
.blue-tab .tab-button.active {
  background-color: #5c9cff;
}

.blue-tab .tabs-card {
  border: solid 1px #A4C7FF;
}

/* Purple Tab Theme */
.purple-tab .tab-button.active {
  background-color: #482084;
}

.purple-tab .tabs-card {
  border: solid 1px #AB98C6;
}

/* Orange Tab Theme */
.orange-tab .tab-button.active {
  background-color: #FF8100;
}

.orange-tab .tabs-card {
  border: solid 1px #FFC58A;
}

/* hr styles */
.blue-tab .tabs-main-content hr{
  border: solid 1px #A4C7FF;
}

.purple-tab .tabs-main-content hr{
  border: solid 1px #AB98C6;
}

.orange-tab .tabs-main-content hr{
  border: solid 1px #FFC58A;
}

.tab-icon-wrapper img{
  width: 50px;
  height: 50px;
}

/* Layered Background for Card */
.blue-tab .tabs-main-content:after {
  content: "";
  position: absolute;
  top: 87px;
  left: 90px;
  width: 100%;
  height: 100%;
  background-color: #81B2FF;
  border-radius: 36px;
  z-index: 0;
}

.blue-tab .tabs-main-content:before {
  content: "";
  position: absolute;
  top: 42px;
  left: 45px;
  width: 100%;
  height: 100%;
  background-color: #A4C7FF;
  border-radius: 36px;
  z-index: 1;
}

/* Purple */
/* Layered Background for Card */
.purple-tab .tabs-main-content:after {
  content: "";
  position: absolute;
  top: 79px;
  left: 49px;
  width: 100%;
  height: 100%;
  background-color: #69489A;
  border-radius: 36px;
  z-index: 0;
}

.purple-tab .tabs-main-content:before {
  content: "";
  position: absolute;
  top: 38px;
  right: 43px;
  width: 100%;
  height: 100%;
  background-color: #8A70B0;
  border-radius: 36px;
  z-index: 1;
}

/* Orange */
/* Layered Background for Card */
.orange-tab .tabs-main-content:after {
  content: "";
  position: absolute;
  top: 88px;
  right: 87px;
  width: 100%;
  height: 100%;
  background-color: #FFAE5C;
  border-radius: 36px;
  z-index: 0;
}

.orange-tab .tabs-main-content:before {
  content: "";
  position: absolute;
  top: 43px;
  right: 44px;
  width: 100%;
  height: 100%;
  background-color: #FFC58A;
  border-radius: 36px;
  z-index: 1;
}

.purple-tab .tabs-main-content {
  width: 57%;
  position: relative;
  margin-left: 97px;
}

.orange-tab .tabs-main-content {
  width: 57%;
  position: relative;
  margin-left: 140px;
}

/* Align text and icon in one line */
.tab-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Icon styling */
.icon-wrapper {
  width: 33px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5; /* Off-white background for all */
}

/* When a tab is active */
.tab-button.active .icon-wrapper {
  background-color: #fff;
}


